<!-- 게시물 등록 모달창 -->
   <div id="post" class="modal fade">
       <div class="modal-dialog modal-lg">
           <div class="modal-content">
               <div class="modal-header">
                   <h4 class="modal-title">새 게시물 만들기</h4>
                   <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
               </div>
       			<form action="/insta" method="post" enctype="multipart/form-data">
               		<div class="modal-body d-flex p-0">
	               		<div class="filebox d-flex" style="width:435px; height: 435px; justify-content: center;align-items: center;">
		                    <label for="input-image" class="btn btn-primary btnUpload">사진을 업로드 하세요</label>
		                    <img id="preview-image" src="">
							<input type="file" id="input-image" name="file" class="d-none" multiple>
	               		</div>
               			<div class="img-div border border-top-0" style="width:365px; height: 435px;">
               				<div class="p-2">
               					<img src="/img/profile.jpg" class="border-radius-circle" style="width: 28px;height: 28px;">
               					<span class="fw-bold" th:text="${session.name}"></span>
               					
               					<input type="hidden" id="memberIdx" name="memberIdx" th:value="${session.idx}">
               				</div>
               				<div>
	               				<textarea id="contents" name="contents" class="form-control border-top-0 border-start-0 border-end-0 border-bottom-0" placeholder="문구 입력..." style="height: 230px;"></textarea>
               				</div>
               				<div class="d-flex justify-content-end">
               					<button type="submit" class="btn btn-outline-primary">공유하기</button>
               				</div>
               				<div class="border p-2">위치 추가</div>
               				<div class="border p-2">접근성</div>
               				<div class="border p-2">고급설정</div>
               			</div>
               		</div>
       			</form>
           </div>
       </div>
   </div>